.index-body{
  margin-top: 60px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  /*background-color: #f5f6f7;*/
  background-color: #f0f0f0;
}
.index-body>div{
  margin: auto;
  width: 90%;
  padding-top: 10px;
}
.item-img{
  width: 100%;
  padding: 4px;
  background: #fff;
}
.item-img:hover{
  cursor:pointer;
}
.ivu-message{
  z-index: 2500;
}
